body {
    font-family: Arial, sans-serif;
    background-color: #00385b;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.start-page {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 40px;
    color: #333;
    margin-bottom: 30px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.input-container input,
.input-container select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.divBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel-button,
.start-button {
    background-color: #4a86e8;
    border: none;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-button:hover,
.start-button:hover {
    background-color: #356ec1;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .start-page {
        padding: 20px;
    }

    .title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .input-container label {
        font-size: 16px;
    }

    .input-container input,
    .input-container select {
        font-size: 14px;
    }

    .divBtn {
        flex-direction: column;
    }

    .cancel-button,
    .start-button {
        padding: 12px 24px;
        font-size: 16px;
        margin-bottom: 10px;
    }
}